.dar{
  background-color: rgb(250, 250, 250);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.car {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: inset 0px 0px 36px -8px rgb(0, 0, 0);
    border: 4px solid white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.476) 0%, rgba(65, 65, 65, 0.628) 52%, rgba(29, 29, 29, 0.471) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  
  .car::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: -40%;
    left: -20%;
    border-radius: 50%;
    border: 35px solid #5b5b5b89;
    transition: all .8s ease;
    filter: blur(.5rem);
  }
  .car:hover::before {
    width: 140px;
    height: 140px;
    top: -30%;
    left: 50%;
    filter: blur(0rem);
  }
  .img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    float: left;  
  }
  .car h1{
    color: white;
  }
  .post{
    width: auto;
    height: auto;
    border-radius: 6px;
  }
  .foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: auto;
}
@media screen and (max-width:370px) {
  .foot{
    gap: 10px;
  }
}
  .ico{
    border: 1px solid white;
    border-radius: 12px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
    width: fit-content;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    transition: 0.3s ease;
  }
  .ico:hover{
    box-shadow: none;
    border: none;
  }
  .comment{
    background-color: black;
    padding: 10px;
  }
  .comment li{
    border: 1px solid white;
    padding: 12px;
    border-radius: 12px;
    margin: 2px;
  }
  .comment button{
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    margin: 12px;
    transition: 0.5s;
    width: auto;
    border: 1px solid black;
  }
  .comment button:hover{
    background-color: rgb(34, 34, 34);
    color: white;
    border: 1px solid white;
  }